.advantage {
  @media screen and (min-width: 1200px) {
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);
  }
}

.advantage__item::before {
  content: "";
  display: block;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.antenna::before {
  background-image: url(../images/antenna.svg);
}
.astronaut::before {
  background-image: url(../images/clock.svg);
}
.clock::before {
  background-image: url(../images/diagram.svg);
}
.diagram::before {
  background-image: url(../images/astronaut.svg);
}

.advantage__title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.2;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.advantage__text {
  line-height: 1.7;
}

.advantage__item {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}
