.clients__list {
  /*display: flex;
  justify-content: space-between;*/
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.clients__item {
  /*display: flex;
  width: calc((100% - 4 * 15px) / 2);
  margin: 15px;*/
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
  }
}

.clients__link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
  cursor: pointer;
  align-items: center;
  transition: color 250ms, border-color 250ms;
  &:hover,
  &:focus {
    color: var(--bgd-color);
    border-color: var(--bgd-color);
  }
}
.clients__icon {
  fill: currentColor;
}
