.clients {
  @media screen and (min-width: 1200px) {
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);
  }
}

.clients__item {
  width: calc((100% - 30px) / 2);

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 3);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
    margin-bottom: 0;
  }
}

.clients__link {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
  cursor: pointer;
  align-items: center;
  transition: color 250ms, border-color 250ms;
  &:hover,
  &:focus {
    color: var(--bgd-color);
    border-color: var(--bgd-color);
  }
}
.clients__icon {
  fill: currentColor;
}
