.team {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
}

  background-color: var(--secondary-color);
  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      width: calc(100% / 2 - 30px);
      margin-left: 30px;
    }
    @media screen and (min-width: 1200px) {
      width: calc(100% / 4 - 30px);
      margin-left: 30px;
    }
  }
  &__list {
    justify-content: space-between;

    @media screen and (min-width: 768px) {
      max-width: 768px;
      display: flex;
      flex-wrap: wrap;
      margin-left: -30px;
  }
  @media screen and (min-width: 1200px) {
      max-width: 1200px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -30px;
  }
  }
  &__work {
    background: var(--main-bgd-color);
    padding: 30px 0;
  }
  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--title-text-color);
    margin-bottom: 10px;
    text-align: center;
  }
  &__profession {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 16px;
  }
}
